AVIATIONSTACK_API_KEY="your_api_key_here"   # API key for the AviationStack API
BASE_URL=https://api.aviationstack.com/v1   # Base URL for the AviationStack API
AIRLINE_IATA="VY"                           # IATA code for Vueling Airlines
DEFAULT_LIMIT="10"                            # limit for API calls
CACHE_TTL="60"                                # Seconds to cache the results