[Unit]
Description=Disable Wi-Fi AP and services on boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/stop_ap.sh

[Install]
WantedBy=multi-user.target

